$background: #191919;
$background_secondary: #241d28;
$text: #473a54;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  background-color: $background;
}
h1, h2, h3, h4, li a {
  color: $text;
  font-family: 'Ubuntu', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $background_secondary;
}

li {
  float: left;
}

li a.pf-c-nav__link {
  display: block;
  text-align: center;
  text-decoration: none;
}
li a.img {
  display: block;
  text-align: center;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
}
li a.nav {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 6px 16px 6px 16px;
}

li a:hover {
  background-color: $background;
}

#logo {
  display: block;
  padding: 0 !important;
}
div.pf-l-bullseye__item {
  text-align: center;
}
